<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="card" style="width: 1000px;">
        <div class="card-header">
            <div class="d-flex bd-highlight">
                <div class="p-2 flex-fill bd-highlight">{{ apply.user.username }}</div>
                <div class="p-2 flex-fill bd-highlight">{{ apply.user.major }}</div>
                <div class="p-2 flex-fill bd-highlight">{{ apply.user.class_code }}</div>
            </div>
        </div>
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ apply.reason }}</li>
          <li class="list-group-item">{{ apply.makeweb }}</li>
          <li class="list-group-item">{{ apply.solution }}</li>
          <li class="list-group-item">{{ apply.gain }}</li>
        </ul>
    </div>
</body>
</html>