.nav{
    background-color: rgb(26, 25, 25);
    text-align: center;
}

.nav-link {
    color: darkorange;
    background-color: rgb(26, 25, 25);
}

.nav-link:hover {
    color: tomato;
}

.icon {
    text-align: center;
    margin: 10px auto;
    display: flex;
    background-color: rgb(26, 25, 25);
}

.fixed-bottom {
    width: 100%;
    height: 200px;
    background-color: rgb(26, 25, 25);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.fixed-top {
    width: 100%;
    height: 200px;
    background-color: rgb(26, 25, 25);
    padding: 10px;
    margin: 0 auto;
}

.signinup {
    float: right;
    display: flex;
}